*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  /* outline: 1px dashed red; */
}

:root {
  --primary-color--hippie-blue: #4d96a9;
  --primary-color--deluge: #855fb1;
  --primary-color--ebony-clay: #28283d;
  --primary-color--manatee: #87879d;
  --primary-color--malibu: #8fe3f9;
  --primary-color--mauve: #d9b8ff;
  --primary-color--alabaster: #fafafa;

  --secondary-color--black: #000;
  --secondary-color--white: #fff;
}

html {
  font-size: 62.5%; /* 1rem = 10px */
}

body {
  background-color: #f2f2f2;
  font-family: 'Red Hat Display', sans-serif;
}

/* - - - - - - - general button styling - - - - - - - */
button {
  width: 193px;
  height: 58px;
  border: none;
  border-radius: 29px;
  color: var(--secondary-color--white);
  font-family: inherit;
  font-weight: 700;
  font-size: 1.6rem;
  cursor: pointer;

  span {
    padding-left: 0.1em;
    color: var(--primary-color--malibu);
    letter-spacing: 0.05em;
  }

  &:hover {
    color: var(--secondary-color--black);

    span {
      color: var(--primary-color--manatee) !important;
    }
  }
}

button.btn1 {
  background-color: var(--primary-color--hippie-blue);

  &:hover {
    background-color: var(--primary-color--malibu);
  }
}

button.btn2 {
  background-color: var(--primary-color--deluge);

  &:hover {
    background-color: var(--primary-color--mauve);
  }
}

/* - - - - - - - general divider styling - - - - - - - */
div.divider {
  position: static;
  width: 56px;
  height: 140px;
  background: linear-gradient(
      var(--primary-color--manatee),
      var(--primary-color--manatee)
    )
    no-repeat top/1px 84px;
  opacity: 0.7;

  p {
    width: 56px;
    height: 56px;
    border-radius: 50%;
    border: 2px solid var(--primary-color--manatee);
    background-color: var(--secondary-color--white);
    color: var(--secondary-color--black);
    font-size: 1.6rem;
    font-weight: 900;
    line-height: 56px;

    display: block;
    position: relative;
    top: 84px;
  }
}

/* 
  - - - - - - - - - - - - - - - - - -
  ------- Mobile First Design --------
  - - - - - - - - - - - - - - - - - -
*/

/* = = = = = app container = = = = = */
div.container {
  width: 375px;
  margin: 0 auto;
  background-color: var(--secondary-color--white);
  text-align: center;
}

/* ========== Header ========== */
header {
  img {
    width: 119px;
    height: 28px;
    margin: 4.8em;
  }
}

/* ========== Main block ========== */
main {
  /* ---------- Hero Section ---------- */
  section.hero {
    position: static;
    overflow: hidden;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    div.avatars.mobile-design {
      position: relative;
      width: 414px;

      img {
        max-width: 100%;
        height: auto;
      }
    }

    div.avatars.desktop-design {
      display: none;
    }

    h1 {
      width: 327px;
      margin: 1em auto 0.6em;
      padding: 0 0.75em;
      color: var(--secondary-color--black);
      font-size: 4rem;
      line-height: 1.1em;
    }

    p {
      width: 327px;
      margin: 0.5em auto 1.5em;
      color: var(--primary-color--manatee);
      font-size: 1.6rem;
      line-height: 2.6rem;
    }

    button {
      margin: 0.4em 0.65em;

      &.btn1 {
        width: 193px;
        height: 58px;
        margin-bottom: 0.6em;
      }

      &.btn2 {
        width: 139px;
        height: 58px;
      }
    }
  }

  /* ---- ----  divider #1  ---- ---- */
  div.divider#div01 {
    margin: 5.5em auto;
  }

  /* ---------- Images Section ---------- */
  section.images {
    width: 327px;
    margin: 0 auto;

    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 24px;

    img {
      width: 151px;
      height: 143px;
      border-radius: 8px;
    }
  }

  /* ---------- Content Section ---------- */
  section.content {
    width: 327px;
    margin: 6em auto;

    h3 {
      color: var(--primary-color--hippie-blue);
      font-size: 1.6rem;
      font-weight: 900;
      line-height: 2.6rem;
      letter-spacing: 0.4rem;
      text-transform: uppercase;
    }

    h2 {
      margin: 0.6em auto 0.95em;
      padding: 0 1.5rem;
      color: var(--primary-color--ebony-clay);
      font-size: 3.2rem;
      font-weight: 900;
      line-height: 3.6rem;
    }

    p {
      padding: 0.1em 0.2em;
      color: var(--primary-color--manatee);
      font-size: 1.6rem;
      line-height: 2.6rem;
      letter-spacing: 0;
      word-spacing: 0.05em;
    }
  }

  /* ---- ----  divider #2  ---- ---- */
  div.divider#div02 {
    position: relative;
    bottom: -2.5em;
    margin: -2.5em auto 0;
    z-index: 2;
    opacity: 0.8;
  }

  /* ---------- Connect Section ---------- */
  section.connect {
    width: 100%;
    height: 440px;
    background-image: url('./assets/mobile/image-footer.jpg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;

    div.overlay {
      width: 100%;
      height: 100%;
      background-color: var(--primary-color--hippie-blue);
      opacity: 0.92;

      h2 {
        padding: 2.8em 1.5rem 0;
        font-size: 3.2rem;
        color: var(--primary-color--alabaster);
        line-height: 3.6rem;
      }

      p {
        margin: 1.4em 0 1.75em;
        padding: 0 2.8rem;
        color: var(--primary-color--alabaster);
        font-size: 1.8rem;
        line-height: 2.6rem;
      }

      button {
        span {
          color: var(--primary-color--mauve);
        }
      }
    }
  }
}

footer.attribution {
  margin: 1.5em auto;
  font-size: 1.2rem;
  text-align: center;

  a {
    color: hsl(228, 45%, 44%);
  }
}

/* 
  - - - - - - - - - - - - - - - - - -
  ---------- Tablet Styles -----------
  - - - - - - - - - - - - - - - - - -
*/
@media (min-width: 820px) {
  div.container {
    width: 768px;
  }

  /* ========== Main block ========== */
  main {
    /* ---------- Hero Section ---------- */
    section.hero {
      div.avatars.mobile-design {
        width: 820px;
      }

      h1 {
        width: 339px;
        margin-top: 1.5em;
        padding: 0;
        font-size: 4.8rem;
        line-height: 1;
      }

      p {
        width: 457px;
        padding: 0 1em;
      }

      button.btn1 {
        margin-bottom: 0;
        margin-right: 0.3em;
      }
    }

    /* ---- ----  divider #1  ---- ---- */
    div.divider#div01 {
      margin: 7em auto;
      opacity: 0.4 !important;
    }

    /* ---------- Images Section ---------- */
    section.images {
      width: 689px;
      margin: 0 auto;

      display: flex;
      justify-content: space-between;
      gap: unset;

      img {
        width: 164px;
        height: 156px;
      }
    }

    /* ---------- Content Section ---------- */
    section.content {
      width: 573px;
      margin-top: 4.5em;
      margin-bottom: 8em;

      h2 {
        margin: 0.35em auto 0.8em;
        padding: 0 64px;
        font-size: 4rem;
        line-height: 4.4rem;
      }

      p {
        letter-spacing: 0;
      }
    }

    /* ---- ----  divider #2  ---- ---- */
    div.divider#div02 {
      opacity: 0.5 !important;
    }

    /* ---------- Connect Section ---------- */
    section.connect {
      height: 428px;
      background-image: url('./assets/tablet/image-footer.jpg');

      div.overlay {
        h2 {
          width: 457px;
          margin: 0 auto;
          padding-top: 2.3em;
          font-size: 4rem;
          line-height: 4.4rem;
        }

        p {
          width: 573px;
          margin: 1.75em auto 2.1em;
          padding: 0;
        }
      }
    }
  }
}

/* 
  - - - - - - - - - - - - - - - - - - -
  ---------- Desktop Styles -----------
  - - - - - - - - - - - - - - - - - - -
*/
@media (min-width: 1504px) {
  div.container {
    width: 1440px;
    overflow: hidden;
  }

  /* ========== Header ========== */
  header {
    img {
      margin-top: 8em;
    }
  }

  /* ========== Main block ========== */
  main {
    /* ---------- Hero Section ---------- */
    section.hero {
      width: 1504px;
      height: 358px;
      position: relative;
      left: -22px;
      flex-direction: row;

      div.avatars.mobile-design {
        display: none;
      }

      div.avatars.desktop-design {
        display: inline-block;
        width: 394px;

        &#avatars-left {
          align-self: self-start;
        }

        &#avatars-right {
          align-self: self-end;
        }

        img {
          max-width: 100%;
          height: auto;
        }
      }

      div.hero-content {
        width: 540px;
        margin: 0 auto;
        padding: 0;

        h1 {
          width: 445px;
          margin: 0.6em auto 0.5em;
          font-size: 6.4rem;
          line-height: 1;
        }

        p {
          width: 540px;
          margin: 0 auto 1.4em;
          padding: 0 0.1em;
          font-size: 1.8rem;
        }

        button {
          margin: 0.4em 0.45em;
        }
      }
    }

    /* ---- ----  divider #1  ---- ---- */
    div.divider#div01 {
      margin: 8.5em auto 6em;
      opacity: 0.4 !important;
    }

    /* ---------- Images Section ---------- */
    section.images {
      width: 1100px;
      margin: 0 auto;

      img {
        width: 255px;
        height: 242px;
      }
    }

    /* ---------- Content Section ---------- */
    section.content {
      width: 540px;
      margin-bottom: 7em;

      h3 {
        margin-top: 5em;
      }

      h2 {
        margin: 0.35em auto 0.75em;
        padding: 0 1.5em;
        font-size: 4rem;
        line-height: 4.4rem;
      }

      p {
        width: 100%;
        margin: 0.5em auto 1.5em;
        padding: 0 1em;
        font-size: 1.8rem;
      }
    }

    /* ---- ----  divider #2  ---- ---- */
    div.divider#div02 {
      opacity: 0.5 !important;
    }

    /* ---------- Connect Section ---------- */
    section.connect {
      height: 308px;
      background-image: url('./assets/desktop/image-footer.jpg');

      div.overlay {
        text-align: left;
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        gap: 11em;

        h2 {
          width: 350px;
          margin: 0;
          padding: 0;
          font-size: 4rem;
          line-height: 4.4rem;
        }

        p {
          width: 350px;
          margin: 0;
          padding: 0 0.3em;
          font-size: 1.8rem;
        }

        button {
          margin: 0;
        }
      }
    }
  }
}

footer.attribution {
  margin: 2em auto;
}
